* {
  box-sizing: border-box;
}
html,
body,
p,
ul {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: normal;
}

body {
  font-family: "Cabin", sans-serif;
  color: #0a162b;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4,
  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }
}

.container-upper {
  max-width: 1440px;
  p {
    text-align: center;
    padding-bottom: 1rem;
  }
}

.hero {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
    margin: 1.5rem 0 1rem 0;
  }
}

.top-link-container {
  display: flex;
  justify-content: center;
}

.nowrap {
  white-space: nowrap;
}

.top-links {
  display: flex;
  max-width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    font-weight: bold;
    color: #0a162b;
    max-width: 84px;
    padding-bottom: 1.5rem;
  }

  a:nth-of-type(4) {
    max-width: 100px;
  }
}

.search-degree {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 1.5rem 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;

  h3 {
    margin-bottom: 0px;
  }

  p {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

.select-level {
  width: 21rem;
  padding: 0.8rem 0;
  margin-bottom: 0.8rem;
  font-family: "Cabin", sans-serif;
  font-size: 1.2rem;
  padding-left: 0.8rem;
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-button {
  width: 21rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  border: none;
  color: #0a162b;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ffc327;
  background-blend-mode: overlay, normal;
  border-radius: 30px;
}

.container-lower {
  background: #f3fbff;
  max-width: 1440px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h3 {
    text-transform: uppercase;
    width: 70%;
    padding: 1.3rem 0 1rem 0;
    margin-bottom: 1rem;
  }
}

.skills-tile {
  width: 336px;
  height: 215px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #ffff;
  margin-bottom: 1rem;

  h4 {
    font-size: 1.2rem;
    margin: 0.2rem 0;
  }

  p {
    line-height: 26px;
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
  }
}

.skills-icon {
  max-width: 100%;
  height: auto;
  padding: 1rem 0 0 0;
}

@media screen and (min-width: 768px) {
  .top-links {
    max-width: 65%;
    a {
      max-width: unset;
    }

    a:nth-of-type(4) {
      max-width: unset;
    }
  }

  .search-degree {
    max-width: 688px;
  }

  .search-button {
    width: 10rem;
    margin-left: 1rem;
  }

  .container-lower {
    // justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .skills-tile {
    margin: 0.5rem 0.5rem;
  }

  .bottom-row {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1050px) {
  .top-links {
    max-width: unset;
    width: 1128px;
    justify-content: space-between;
  }

  .search-degree {
    max-width: 1128px;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;

    h3 {
      margin-top: 0.5rem;
    }

    p {
      text-align: left;
    }
  }

  .desktop-flex {
    display: flex;
    justify-content: space-between;
    width: 928px;
  }

  .search-button {
    margin-right: 7rem;
  }

  .select-level,
  .search-button {
    margin-bottom: 0;
  }

  .skills-tile {
    width: 456px;
    height: 234px;
    margin: 0.8rem;

    p {
      line-height: 28px;
      font-size: 1.2rem;
    }
  }

  .bottom-row {
    margin-bottom: 2rem;
  }
}
