* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
p,
ul {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: normal;
}

body {
  font-family: "Cabin", sans-serif;
  color: #0a162b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body h4,
body p {
  font-size: 1rem;
}

body h3 {
  font-size: 1.3rem;
}

body h2 {
  font-size: 1.5rem;
}

body h1 {
  font-size: 2rem;
}

.container-upper {
  max-width: 1440px;
}

.container-upper p {
  text-align: center;
  padding-bottom: 1rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin: 1.5rem 0 1rem 0;
}

.top-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nowrap {
  white-space: nowrap;
}

.top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-links a {
  font-weight: bold;
  color: #0a162b;
  max-width: 84px;
  padding-bottom: 1.5rem;
}

.top-links a:nth-of-type(4) {
  max-width: 100px;
}

.search-degree {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 1.5rem 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-degree h3 {
  margin-bottom: 0px;
}

.search-degree p {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.select-level {
  width: 21rem;
  padding: 0.8rem 0;
  margin-bottom: 0.8rem;
  font-family: "Cabin", sans-serif;
  font-size: 1.2rem;
  padding-left: 0.8rem;
  border: 2px solid #d0d0d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.search-button {
  width: 21rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  border: none;
  color: #0a162b;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0))), #ffc327;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #ffc327;
  background-blend-mode: overlay, normal;
  border-radius: 30px;
}

.container-lower {
  background: #f3fbff;
  max-width: 1440px;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-lower h3 {
  text-transform: uppercase;
  width: 70%;
  padding: 1.3rem 0 1rem 0;
  margin-bottom: 1rem;
}

.skills-tile {
  width: 336px;
  height: 215px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #ffff;
  margin-bottom: 1rem;
}

.skills-tile h4 {
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

.skills-tile p {
  line-height: 26px;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}

.skills-icon {
  max-width: 100%;
  height: auto;
  padding: 1rem 0 0 0;
}

@media screen and (min-width: 768px) {
  .top-links {
    max-width: 65%;
  }
  .top-links a {
    max-width: unset;
  }
  .top-links a:nth-of-type(4) {
    max-width: unset;
  }
  .search-degree {
    max-width: 688px;
  }
  .search-button {
    width: 10rem;
    margin-left: 1rem;
  }
  .container-lower {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills-tile {
    margin: 0.5rem 0.5rem;
  }
  .bottom-row {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1050px) {
  .top-links {
    max-width: unset;
    width: 1128px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search-degree {
    max-width: 1128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 3rem 0;
  }
  .search-degree h3 {
    margin-top: 0.5rem;
  }
  .search-degree p {
    text-align: left;
  }
  .desktop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 928px;
  }
  .search-button {
    margin-right: 7rem;
  }
  .select-level,
  .search-button {
    margin-bottom: 0;
  }
  .skills-tile {
    width: 456px;
    height: 234px;
    margin: 0.8rem;
  }
  .skills-tile p {
    line-height: 28px;
    font-size: 1.2rem;
  }
  .bottom-row {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */